p{

	font-family: "Nunito Sans", serif;


}



.poster img{

	max-width: 275px;
	margin: 1rem;
	border-radius: 0.4rem;
}





@media screen and (min-width:50px){

	body{

	}


}


@media screen and (mid-width:800px){

	.poster {

		flex-direction: row !important;
		margin: 3rem;
	}
}

.poster img{


}
