
nav{
	margin: auto;
	max-width: 600px;
	font-size: 1.2rem;
	text-transform: uppercase;


}
nav ul{

	display: flex;
	flex-direction: row;
	justify-content: center;
  	list-style-type: none;

}







nav ul li{


	background-color: lightblue;
	margin: 0.4rem;
}


nav ul li a{

	font-family:"Lexend Peta", serif;
	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	text-decoration: none;


}



p{

	font-family: "Nunito Sans", serif;


}



.poster img{

	max-width: 275px;
	margin: 1rem;
	border-radius: 0.4rem;
}





@media screen and (min-width:500px){

	body{
		background-color: beige;
	}


}


@media screen and (mid-width:800px){

	.poster {

		flex-direction: row !important;
		margin: 3rem;
	}
}

.poster img{


}
