p{

	font-family: "Nunito Sans", serif;


}









@media screen and (min-width:501px){

	body{

	}


}


@media screen and (mid-width:720px){

	.poster {

		flex-direction: row !important;
		margin: 3rem;
	}
}

.poster img{

	
}
