

nav{

	display: flex;
	flex-direction: row;
	justify-content: space-between;




}

body{

	display: flex;
	justify-content: center;
	background-color: rgba(225, 117, 240, 0.3);
	/*  rgb(68, 35, 72)       */
	

}

.main-image{

	display: flex;
	max-width: 25%;
	border-radius: 3000px;
	border: none;


}




