
nav{
	max-width: 600px;
	font-size: 1.2rem;


}

nav ul{

	display: flex;
	flex-direction: row;
	justify-content: space-between;




}

nav ul li{


	background-color: lightblue;
}


nav ul li a{

	font-family:"Lexend Peta", serif;
	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	text-decoration: none;
}

nav ul li a:visited {
	text-decoration: none;
	color: green;
}

body{

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(225, 117, 240, 0.3);
	/*  rgb(68, 35, 72)       */
	

}

h1{


	display: flex;
	justify-content: center;
	font-family: "Kumbh Sans", serif;

}

.main-image{

	display: flex;	


}

img{

	border: none;

}

.main-image img{


	max-width: 25%;
	border-radius: 3000px;
	margin: auto;
}

p{

	font-family: "Nunito Sans", serif;


}